@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}

.essential {
  padding-left: clamp(24px, 24px + 100vw - 1080px, 40px);
}

blockquote{
  font-size: 17px;
}

.ql-disabled{
  font-family: serif;
  border: none !important;
}
.ql-editor, .ql-container{
  border: none !important;
}
.ql-editor p{
  font-family: serif;
  font-size: 20px;
  line-height: 2;
}

[data-placeholder]::before {
  font-size: 18px;
  line-height: 2;
  font-family: serif;
  /* Add any other styles you want for the placeholder text */
}

/* Adjust the style for the placeholder when the input is focused (optional) */



.ql-snow{
  border: none !important;
  /* border-bottom: 0.1px solid #c5b3b3 !important; */
}
.ql-toolbar{
  border: none !important;
  border-bottom: 0.1px solid #c5b3b3 !important;
}